img {
  height: 25px;
  margin-right: 8px;
  width: 25px;
}
h2 {
  font-size: 14px;
  font-weight: 700;
  min-width: 52px;
  margin-top: 0.5rem;
}
button {
  color: #59516e;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  margin: 0 1rem;
  font-size: 1.3rem;
}
button:hover {
  border-bottom: 1px solid;
  transition: 1s;
}


.accordion:after {
  content: "\002B";
  color: #59516e;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 2rem;
  margin-top: -0.5rem;
}

.active,
.accordion:hover {
  background-color: #ccc;
}
.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  min-height: 0;
  transition: max-height 0.2s ease-out;
}

.temp {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.08;
  margin-right: 8px;
  max-width: 48px;
  text-align: center;
}
.realfeel {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}
.weatherdesc {
  color: #878787;
  font-size: 14px;
  line-height: 1.29;
}
@media screen and (max-width: 975px) {
  .row {
    margin: 1rem 0;
  }
  .main {
    flex-direction: column-reverse;
  }
 
}
