<div
  class="weatherdetails"
>
  <div
    style="padding: 15px 20px; margin: 0"
    class="d-flex justify-content-between"
  >
    <h2>Weather details</h2>
  </div>
  <div
    class="d-flex"
    style="
      align-items: center;
      text-align: center;
      justify-content: center;
      overflow: hidden;
      /* border-radius: 0 0 20px 20px; */
    "
  >
    <div class="left">
      <p>
        Real Feel<span>{{ current.FeelsLikeC }}°</span>
      </p>
      <p>
        uvIndex<span>{{ current.uvIndex }}</span>
      </p>
      <p>
        Winds<span>{{ current.windspeedKmph }}Km/h</span>
      </p>
    </div>
    <div class="right">
      <p>
        cloud cover<span>{{ current.cloudcover }}%</span>
      </p>
      <p>
        visibility<span>{{ current.visibility }}</span>
      </p>
      <p>
        pressure<span>{{ current.pressure }}</span>
      </p>
    </div>
    
  </div>
</div>
