div {
  padding: 10px 16px;
}
.weatherdetails {
  padding: 0;
  border-radius: 20px;
}
.boxshadow {
  box-shadow: 0 0 5px rgb(23 36 50 / 50%);
}
.row {
  align-items: center;
}

.left,
.right {
  flex: 50%;
}
.left {
  margin-right: 24px;
}
.left p,
.right p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 7px 0 10px;
}
p span {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  margin-left: auto;
  padding-left: 8px;
  text-align: right;
}

@media screen and (max-width: 575px) {
  * {
    font-size: 13px;
  }
  .first {
    flex-direction: column-reverse;
  }

  div {
    padding: 6px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  * {
    font-size: 15px;
  }

  div {
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  * {
    font-size: 17px;
  }
  p {
    font-size: 13px;
  }

  div {
    padding: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  * {
    font-size: 19px;
  }
  section {
    margin-top: 0.5rem;
  }
  .graph {
    overflow: scroll;
  }
  div {
    padding: 10px;
  }
}
